<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python311\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Dynamic Content" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
